<div id='container' ng-controller="ShortenController">
  <div>
    <div class="navigation">
      <ul>
        <li>
          <a href="#/links" class="index selected">All Links</a>
        </li>
        <li>
          <a href="#/shorten" class="create">Shorten</a>
        </li>
      </ul>
      <a href="#/logout" class="logout">logout</a>
    </div>

    <form>
      <input type="url" placeholder="input url here" ng-model="url">
      <input ng-click="addLink()" type='submit'>
    </form>
    <div ng-hide="">
      <div>
        <img src="../assets/redirect_icon.png">
        <div>
          <div>
          <span class="count">Visits = {{url.visits}}</span>
          </div>
          <div>{{url.title}}</div>
          <div>{{url.url}}</div>
          <a href="'"+{{url.base_url+'/'+url.code}}+"'">{{url.base_url+'/'+url.code}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
